
	<div class="row">
        <a id="google-connect" href="{{ hwi_oauth_login_url('google') }}">Sign in with Google</a>
    </div>
    <div class="row">
        {{ render(controller("FOSUserBundle:Security:login")) }}
    </div>