<p>Hi !</p>

<p>
	{{ admin }} is a member of the team {{ team.name }} on <a href="{{ url('homepage') }}">The Simple CRM</a>.<br/>
	This member would like you to join the team !
</p>
<p>
	Visit <a href="{{ url('homepage') }}">The Simple CRM</a> if you want to join us !
<p>
