<p>Hi {{ invitation.user }} !</p>

<p>Team <strong>{{ invitation.team.name }}</strong> just invited you to join them !
Come soon on <a href="{{ url('invitation_index') }}">The Simple CRM</a> to reply to this invitation.</p>
