{% extends "base.html.twig" %}
{% block title %}{{ 'exception.last_admin.title'|trans }}{% endblock %}
{% block body %}
	<h1>{{ 'exception.last_admin.title'|trans }}</h1>
	<p>{{ 'exception.last_admin.description'|trans }}</p>
{% endblock %}