{% extends 'base.html.twig' %}
{% block title %}{{ 'team.join.title'|trans }}{% endblock %}
{% block body %}
    <h1>{{ 'team.join.title'|trans }}</h1>

    {{ include('team/join_results_content.html.twig') }}
{% endblock %}
